<div class="relative overflow-x-auto">
    <table class="w-full text-sm">
        <thead class="text-xs text-center uppercase ">
            <tr>
                <th scope="col" class="px-16 py-3">
                    <span class="heading">IMAGE</span>
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="heading">PRODUCT NAME</span>
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="heading">PRICE</span>
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="heading">QUANTITY</span>
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="heading">SUB TOTAL</span>
                </th>
                <th scope="col" class="px-6 py-3">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white text-center">
                <td class="p-4 flex justify-center">
                    <img src="images/reviews/hero.jpg" class="w-24 h-24" alt="Apple Watch">
                </td>
                <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                    Apple Watch
                </td>
                <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                    $599
                </td>
                <td class="px-6 py-4">
                    <div class="flex items-center">
                        <!-- Quantity Selector -->
                        <div class="options mb-6 flex flex-col">
                            <div class="quantity flex items-center gap-2 mt-2">
                                <button (click)="decreaseQuantity()"
                                    class="px-4 py-2 bg-secondary text-primary rounded-3xl transition-colors text-sm md:text-sm">
                                    -
                                </button>
                                <span class="px-4 py-2 text-primary rounded-3xl text-sm md:text-sm font-semibold">{{
                                    quantity }}</span>
                                <button (click)="increaseQuantity()"
                                    class="px-4 py-2 bg-secondary text-primary rounded-3xl transition-colors text-sm md:text-sm">
                                    +
                                </button>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                    $599
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline"><img
                            src="icons/Remove.svg" alt=""></a>
                </td>
            </tr>

        </tbody>
    </table>
</div>