table {
  thead {
    tr {
      th {
        .heading {
          width: 61;
          height: 41.689998626708984;
          padding-top: 8px;
          padding-right: 8px;
          padding-bottom: 9px;
          padding-left: 8px;
          border-bottom-width: 1px;
        }
      }
    }
  }
}
