<form class="space-y-4" [formGroup]="setPasswordForm">
    <div>
        <input type="email" name="email" id="email" placeholder="Enter Email" formControlName="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" />
    </div>
    <div>
        <input type="password" name="password" id="password" placeholder="Enter Password" formControlName="password"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" />
    </div>
    <button class="auth-button" type="button" (click)="resetPassword()">Set a Password
    </button>
</form>