<div class="Box-delivery-info container mx-auto gap-6 p-6 sm:p-10 mt-20 rounded-[20px] shadow-md">
  <!-- Wrapper -->
  <div class="flex flex-col sm:flex-row flex-wrap items-center justify-between gap-6">

    <!-- Free Delivery -->
    <div class="flex items-center gap-4 w-full sm:w-auto">
      <div class="text-3xl text-white rounded-[32px] w-[65px] h-[65px] text-center p-3 bg-primary">
        <i class="fa-solid fa-truck"></i>
      </div>
      <div>
        <h3 class="text-xl font-bold text-dark-blue">Free Delivery</h3>
        <p class="text-gray-600">Orders Over $120</p>
      </div>
    </div>

    <!-- Get Refund -->
    <div class="flex items-center gap-4 w-full sm:w-auto">
      <div class="text-3xl text-white rounded-[32px] w-[65px] h-[65px] text-center p-3 bg-primary">
        <i class="fa-solid fa-arrows-rotate"></i>
      </div>
      <div>
        <h3 class="text-xl font-bold text-dark-blue">Get Refund</h3>
        <p class="text-gray-600">Within 30 Days Returns</p>
      </div>
    </div>

    <!-- Safe Payment -->
    <div class="flex items-center gap-4 w-full sm:w-auto">
      <div class="text-3xl text-white rounded-[32px] w-[65px] h-[65px] text-center p-4 bg-primary">
        <img src="images/SafePyamentIcon.png" alt="Safe Payment Icon">
      </div>
      <div>
        <h3 class="text-xl font-bold text-dark-blue">Safe Payment</h3>
        <p class="text-gray-600">100% Secure Payment</p>
      </div>
    </div>

    <!-- 24/7 Support -->
    <div class="flex items-center gap-4 w-full sm:w-auto">
      <div class="text-3xl text-white rounded-[32px] w-[65px] h-[65px] text-center p-3 bg-primary">
        <i class="fa-solid fa-headset"></i>
      </div>
      <div>
        <h3 class="text-xl font-bold text-dark-blue">24/7 Support</h3>
        <p class="text-gray-600">Feel Free To Call Us</p>
      </div>
    </div>

  </div>
</div>