<div class="max-w-screen-xl sm:mx-2 xl:mx-auto lg:mx-auto my-16">
  <div class="text-center mb-10">
    <div class="relative inline-block">
      <p class="head-team">Our Team</p>
      <span class="relative z-10 head-title">Meet Our Expert <span class="sub-title">Team</span>
      </span>
      <div class="bgk"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 px-6">
    <div class="expert-card">
      <img src="images/expert-team/team1.png" alt="member.name" />
      <div class="content">
        <h3>Ahmed Mohamed</h3>
        <p>Senior Manager</p>
      </div>
      <div class="team-line"></div>
      <div class="flex justify-center gap-8 sm:gap-6 md:gap-2 lg:gap-4 xl:gap-8 mt-3">
        <a href="icon.link" class="icon">
          <img src="images/icons/facebook.png" alt="">
        </a>
        <a href="icon.link" class="icon">
          <img src="images/icons/insta.png" alt="">
        </a>
        <a href="icon.link" class="icon">
          <img src="images/icons/twitter.png" alt="">
        </a>
        <a href="icon.link" class="icon">
          <img src="images/icons/youtube.png" alt="">
        </a>
      </div>
    </div>
    <div class="expert-card">
      <img src="images/expert-team/team2.png" alt="member.name" />
      <div class="content">
        <h3>Ahmed Mohamed</h3>
        <p>Senior Manager</p>
      </div>
      <div class="team-line"></div>
      <div class="flex justify-center gap-3 sm:gap-6 md:gap-2 lg:gap-4 xl:gap-8 mt-3">
        <a href="icon.link" class="icon">
          <img src="images/icons/facebook.png" alt="">
        </a>
        <a href="icon.link" class="icon">
          <img src="images/icons/insta.png" alt="">
        </a>
        <a href="icon.link" class="icon">
          <img src="images/icons/twitter.png" alt="">
        </a>
        <a href="icon.link" class="icon">
          <img src="images/icons/youtube.png" alt="">
        </a>
      </div>
    </div>
    <div class="expert-card">
      <img src="images/expert-team/team3.png" alt="member.name" />
      <div class="content">
        <h3>Ahmed Mohamed</h3>
        <p>Senior Manager</p>
      </div>
      <div class="team-line"></div>
      <div class="flex justify-center gap-3 sm:gap-6 md:gap-2 lg:gap-4 xl:gap-8 mt-3">
        <a href="icon.link" class="icon">
          <img src="images/icons/facebook.png" alt="">
        </a>
        <a href="icon.link" class="icon">
          <img src="images/icons/insta.png" alt="">
        </a>
        <a href="icon.link" class="icon">
          <img src="images/icons/twitter.png" alt="">
        </a>
        <a href="icon.link" class="icon">
          <img src="images/icons/youtube.png" alt="">
        </a>
      </div>
    </div>
    <div class="expert-card">
      <img src="images/expert-team/team4.png" alt="member.name" />
      <div class="content">
        <h3>Ahmed Mohamed</h3>
        <p>Senior Manager</p>
      </div>
      <div class="team-line"></div>
      <div class="flex justify-center gap-3 sm:gap-6 md:gap-2 lg:gap-4 xl:gap-8 mt-3">
        <a href="icon.link" class="icon">
          <img src="images/icons/facebook.png" alt="">
        </a>
        <a href="icon.link" class="icon">
          <img src="images/icons/insta.png" alt="">
        </a>
        <a href="icon.link" class="icon">
          <img src="images/icons/twitter.png" alt="">
        </a>
        <a href="icon.link" class="icon">
          <img src="images/icons/youtube.png" alt="">
        </a>
      </div>
    </div>
  </div>
</div>

<app-delivery-info></app-delivery-info>