.category {
  background-color: #feedf7;
  width: 217px;
  height: 122px;
  padding: 16px;
  margin: 16px;
  border-radius: 20px;

  .category-icon {
    width: 90px;
    height: 90px;
    padding: 20px;
    border-radius: 45px;

    background-color: #f82ba9;
    box-shadow: 0px 0px 40px 5px #0000000d;

    .icon {
      width: 50px;
      height: 50px;
      max-width: var(--width90);
      color: #fff;
    }
  }

  .category-description {
    width: 80px;
    height: 51px;

    .title {
      font-family: var(--fontfamilyFont1);
      font-size: var(--lineheight18);
      font-weight: 600;
      line-height: var(--lineheight216);
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: var(--color-blue-17, #160e4b);
    }
    .items {
      font-family: var(--fontfamilyFont2);
      font-size: var(--fontsize16);
      font-weight: 400;
      line-height: var(--lineheight288);
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: var(--color-azure-52, #757f95);
    }
  }
}
