@import url('../../../../../../styles.scss');
.header-container {
    position: relative;
    text-align: center;
  }

  .header-container::after {
    content: '';
    position: absolute;
    left: 50%; /* Start from the middle */
    transform: translateX(-155%); /* Move back by 50% of its own width to center */
    width: 155px; /* Adjust the width of the line */
    height: 2px; /* Adjust the thickness of the line */
    background-color: var(--primary-color); /* Use your primary color variable */
    margin-top: 8px; /* Adjust the spacing between text and line */
  }