<div class="grid  sm:grid-cols-2 items-center p-6">

  <div class="relative inline-block">
    <span class="relative z-10 head-title">Popular Items</span>
    <div class="bgk"></div>
    <div class="line"></div>
  </div>

  <div
    class="text-sm font-medium text-center text-gray-500 flex justify-self-end dark:text-gray-400 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px list">
      <li class="me-2">
        <a href="#" class="inline-block p-4 pb-1 border-b-2 border-transparent rounded-t-lg ">Profile</a>
      </li>
      <li class="me-2">
        <a href="#" class="inline-block p-4 pb-1  border-b-2 rounded-t-lg active" aria-current="page">Dashboard</a>
      </li>
      <li class="me-2">
        <a href="#" class="inline-block p-4 pb-1 border-b-2 border-transparent rounded-t-lg ">Settings</a>
      </li>
      <li class="me-2">
        <a href="#" class="inline-block p-4 pb-1 border-b-2 border-transparent rounded-t-lg ">Contacts</a>
      </li>
    </ul>
  </div>

</div>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 p-6 mb-96">
  @for (item of items; track item) {
  <app-card [imageSrc]="item.imageSrc" [title]="item.title" [description]="item.description" [price]="item.price"
    (addToCart)="handleAddToCart(item)"></app-card>
  }
</div>
