<div class="card flex justify-center">
  <p-button class="" label="Check" />
</div>

<button pButton type="button" label="Secondary" class="p-button-secondary"></button>

<h5>Button Set</h5>
<span class="p-buttonset">
  <button pButton pRipple label="Save" icon="pi pi-check"></button>
  <button pButton pRipple label="Delete" icon="pi pi-trash"></button>
  <button pButton pRipple label="Cancel" icon="pi pi-times"></button>
</span>

<h5>Text Buttons</h5>
<button pButton pRipple type="button" label="Primary" class="p-button-text"></button>
<button pButton pRipple type="button" label="Secondary" class="p-button-secondary p-button-text"></button>
<button pButton pRipple type="button" label="Success" class="p-button-success p-button-text"></button>
<button pButton pRipple type="button" label="Info" class="p-button-info p-button-text"></button>
<button pButton pRipple type="button" label="Warning" class="p-button-warning p-button-text"></button>
<button pButton pRipple type="button" label="Help" class="p-button-help p-button-text"></button>
<button pButton pRipple type="button" label="Danger" class="p-button-danger p-button-text"></button>
<button pButton pRipple type="button" label="Plain" class="p-button-text p-button-plain"></button>


<h1 class="text-3xl font-bold underline">
  Hello world!
</h1>
<!-- Before -->
<button class="text-white px-4 sm:px-8 py-2 sm:py-3 bg-sky-700 hover:bg-sky-800">...</button>

<!-- After -->
<button class="bg-sky-700 px-4 py-2 text-white hover:bg-sky-800 sm:px-8 sm:py-3">...</button>
<router-outlet />